@import url("https://fonts.googleapis.com/css2?family=Jomolhari&family=Jost:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  background-color: #f6ece1;
}

h1 {
  font-family: "Jomolhari", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 38px;
}

h2 {
  font-family: "Jomolhari", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 30px;
}

h3 {
  font-family: "Jost", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  text-transform: uppercase;
  font-size: 20px;
}

.subtitle {
  font-family: "Jost", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  opacity: 70%;
  text-transform: uppercase;
}

p {
  font-family: "Jost", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 15px;
  line-height: 25px;
  letter-spacing: 0.3px;
}

button:hover {
  cursor: pointer;
}

.grid {
  display: grid;
  grid-gap: 20px;
}

.grid-3-columns {
  grid-template-columns: 1fr 1fr 1fr;
}

.grid-5-columns {
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.img-responsive {
  max-width: 100%;
  border-radius: var(--image-border-radius);
}

.img-hover img {
  display: block;
  transition: opacity 0.5s ease-in-out;
}

.img-hover:hover {
  opacity: 0.7;
  cursor: pointer;
}

@media (min-width: 320px) {
  #header-desktop {
    display: none;
  }
  h1 {
    font-size: 28px;
  }

  h2 {
    font-size: 20px;
  }

  h3 {
    font-size: 15px;
  }
}

/*@media (min-width:320px)  { /* smartphones, iPhone, portrait 480x320 phones */
/*@media (min-width:481px)  { /* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */
/*@media (min-width:641px)  { /* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */
/*@media (min-width:961px)  { /* tablet, landscape iPad, lo-res laptops ands desktops */
/*@media (min-width:1025px) { /* big landscape tablets, laptops, and desktops */
/*@media (min-width:1281px) { /* hi-res laptops and desktops */
