.Approach-Page {
  display: block;
  margin: 0px 50px 20px 150px;
  text-align: left;
}

.Approach-Page h1 {
  text-align: center;
}

.player-wrapper {
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  height: 70vh;
}

iframe {
  border: none;
  border-radius: 45px;
  margin: 0 auto; /* Optional: Remove default border */
}

.approach-text {
  margin: 30px auto;
  margin-left: 110px;
}

.call-to-action {
  margin-top: 10px;
}
