.Approach-Page {
  display: block;
  margin: 10px 200px 50px 150px;
}

.Approach-Page h1 {
  text-align: center;
}

.player-wrapper {
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  height: 70vh;
}

iframe {
  border: none;
  border-radius: 45px; /* Optional: Remove default border */
}
.approach-text {
  margin: 30px auto;
  margin-left: 110px;
}

.Approach-Page {
  margin-top: 40px;
  text-align: left;
}
