.Approach-Page {
  text-align: left;
}

.Approach-Page h1 {
  text-align: center;
}

.approach-text {
  margin: 30px auto;
  margin-left: 110px;
}

.call-to-action {
  margin-top: 10px;
}

@media (max-width: 768px) {
  .work-cards {
    margin: 0px 20px;
  }
}
