.blog-page {
  padding: 20px;
  margin-left: 100px;
}

.blog-grid {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 20px;
}

.large-block {
  position: relative;
  width: 100%;
  height: 400px; /* Adjust the height as needed */
  background-size: cover;
  background-position: center;
  color: white; /* Text color */
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.large-block::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5); /* Black overlay with 50% opacity */
}

.overlay {
  position: relative;
  z-index: 1;
}

.large-blog-header h3,
.large-blog-header h2,
.large-blog-content p {
  margin: 0;
}

.large-blog-header {
  margin-bottom: 20px;
}

.small-blog {
  background-color: #ffffff;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

@media (max-width: 768px) {
  .blog-grid {
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  }
}
