.call-to-action {
  display: block;
  margin-bottom: 50px;
  text-align: left;
  margin-left: 50px;
}

.grid {
  display: grid;
  gap: 20px;
}

.grid-contact {
  grid-template-columns: 1fr 2fr;
  margin-left: 50px;
}



@media (max-width: 768px) {
  .heading-container {
    display: flex;
    justify-content: center;
  }

  .contact h1 {
    font-size: 28px;
    margin: 0;
    padding: 5px;
  }

  .contact h2 {
    font-size: 28px;
    margin: 0;
    padding: 5px;
  }

  .call-to-action {
    padding-left: 0;
  }

  .grid-2-columns {
    grid-template-columns: 1fr;
  }
}

/* Contact form styles */
.contact-form-container {
  display: block;
  flex-direction: column;
  align-items: stretch; /* Ensure items stretch to container width */
  padding: 20px;
  margin-left: 100px;
}

.contact-form {
  width: 100%;
  max-width: 600px;
  padding: 20px;
}

.form-group {
  margin-bottom: 15px;
}

.form-group label {
  font-family: "Jost", sans-serif;
  font-weight: 400;
  font-style: normal;
  text-transform: uppercase;
  font-size: 15px;
  color: black;
  display: block;
  text-align: left;
  padding-left: 20px;
}

.form-group input,
.form-group textarea {
  width: calc(
    100% - 22px
  ); /* Adjust width to account for padding and borders */
  padding: 10px;
  border: 1px solid black;
  border-radius: 11px;
  font-size: 16px;
  color: #333;
  background-color: transparent;
  box-sizing: border-box; /* Include padding and border in width calculation */
}

.form-group textarea {
  resize: none; /* Make textarea non-resizable */
  min-height: 100px; /* Minimum height for message textarea */
  height: 100px; /* Fixed height for message textarea */
}

.form-group #name,
.form-group #email {
  height: 50px; /* Fixed height for name and email textarea */
}

.form-group #message {
  height: 300px;
}

.submit-btn {
  display: block; /* Ensure button takes up full width */
  margin-top: 15px; /* Add spacing above the button */
  padding: 10px 20px;
  color: black;
  border: 1px solid black;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  background-color: transparent;
  width: 100%; /* Button spans full width of container */
  box-sizing: border-box; /* Include padding and border in width calculation */
}

.submit-btn:hover {
  background-color: #204d7e;
  color: #fff;
}

/* Image container styles */
.contact-image-container {
  display: block;
  width: 100%;
  max-width: 395px;
}

.contact-image-container img {
  width: 100%;
  object-fit: cover;
  border-radius: 45px;
}

@media (max-width: 768px) {
  .call-to-action {
    margin-bottom: 10px;

    margin-left: 10px;
  }
  .grid-contact {
    grid-template-columns: 1fr;
    margin: 0;
  }
  .contact-image-container {
    display: none;
  }
  .contact-form {
    max-width: 300px;
    padding: 0;
  }

  .contact-form-container {
    margin-left: 0;
  }

  .form-group input,
  .form-group textarea {
    width: 100%;
    max-width: 100%;
  }
}
