.CreditsFooter {
  padding: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 100%;
  margin-top: 30px;
  background-color: #862b0d;
  color: white;
}

.logo-footer {
  margin-left: 100px;
}

.site-logo-footer {
  height: 70px;
}

.social-footer img {
  height: 50px;
  display: inline-block;
  margin: 10px;
}

.all-pages {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.all-pages h3 {
  color: white;
}

.all-pages li {
  font-family: "Jost", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 15px;
  line-height: 25px;
  letter-spacing: 0.3px;
  color: white;
  position: relative; /* Necessary for absolute positioning of pseudo-element */
  padding: 5px 0; /* Space above and below text */
}

.all-pages a {
  color: white;
  text-decoration: none; /* Remove default underline */
  position: relative; /* For positioning pseudo-element */
  display: inline-block; /* Ensure that the pseudo-element is positioned correctly */
}

.all-pages a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -5px; /* Position below the text */
  width: 0;
  height: 2px; /* Thickness of the sliding line */
  background: white; /* Color of the sliding line */
  transition: width 0.3s ease; /* Smooth animation */
}

.all-pages a:hover::after {
  width: 100%; /* Expand line to full width on hover */
}

@media (max-width: 768px) {
  .CreditsFooter {
    padding: 5px;
    text-align: center;
    width: 100%;
    margin-top: 50px;
  }
}
