.card {
  margin-bottom: 20px;
}

.card-links {
  text-decoration: none;
  color: black;
}

button {
  border: none;
  background-color: transparent;
  padding: 0;
}

.group-cards {
  margin: 0px 10px;
}

.group-cards h2 {
  margin-bottom: 10px;
}

.group-image-container {
  position: relative;
  overflow: hidden;
  z-index: 100;
}
.group-image-container img {
  width: 100%;
  object-fit: cover;
  height: 100%;
  display: block;
  border-radius: --image-border-radius;
}

.section-spacing {
  margin-top: 50px;
  margin-bottom: 50px;
}

.yoga-image-container {
  position: relative;
  width: 180px; /* Adjusted to 300px */
}

.yoga-image {
  width: 180px;
  margin: 0 auto;
  /* Added border-radius */
}

.class-details {
  margin: 0;
}

.img-hover {
  transition: transform 0.3s ease;
}

.img-hover:hover {
  transform: scale(1.05);
}

.yoga-class {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

.yoga-class h2,
.yoga-class .class-details {
  margin-top: 10px;
}

.overlay-svg {
  height: 100px;
}

.overlay-svg2 {
  height: 35px;
}

.section-heading {
  text-align: center;
}

.hr-lines:before {
  content: " ";
  display: block;
  height: 2px;
  width: 130px;
  position: absolute;
  top: 50%;
  left: 0;
  background: black;
}

.hr-lines {
  position: relative;
}

.hr-lines {
  position: relative;
  /*  new lines  */
  max-width: 500px;
  margin: 100px auto;
  text-align: center;
}

.hr-lines:after {
  content: " ";
  height: 2px;
  width: 130px;
  background: black;
  display: block;
  position: absolute;
  top: 50%;
  right: 0;
}

.card-link {
  text-decoration: none;
  color: black;
}

.retreat-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

.retreat-img-container {
  position: relative;
  width: 590px; /* Adjusted to 621px */
  height: 430px;
}

.retreat-image {
  width: 100%;
  object-fit: cover;
  height: 100%;
  display: block;
  border-radius: 127px;
}

.book-btn {
  width: 80%;
  margin-top: 20px;
}

.book-btn-two {
  width: 80%;
  margin-top: 45px;
}

.retreat-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 201, 95, 0.8);
  color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: opacity 0.3s ease;
  text-align: center;
  padding: 100px;
  box-sizing: border-box;
  border-radius: 127px;
}

.retreat-img-container:hover .retreat-overlay {
  opacity: 1;
}

.retreat-overlay h3,
.retreat-overlay h2,
.retreat-overlay p,
.retreat-overlay span {
  margin: 5px 0;
}

.retreat-overlay span {
  display: flex;
  align-items: center;
}

.retreat-overlay span img {
  margin-right: 5px;
}

@media (max-width: 768px) {
  .retreat-img-container {
    width: 300px; /* Adjusted to 621px */
    height: 300px;
  }

  .retreat-image {
    border-radius: 57px;
  }

  .retreat-overlay {
    border-radius: 57px;
  }

  .book-btn-two {
    width: 80%;
    margin-top: 20px;
  }

  .hr-lines:before {
    content: " ";
    display: block;
    height: 2px;
    width: 85px;
    position: absolute;
    top: 50%;
    left: 0;
    background: black;
  }

  .hr-lines:after {
    content: " ";
    height: 2px;
    width: 85px;
    background: black;
    display: block;
    position: absolute;
    top: 50%;
    right: 0;
  }
}
