.Home {
  text-align: center;
}

.Home h1 {
  margin: 0;
}

.Home h2 {
  margin: 10px;
}

.hero-img {
  height: 500px;
  border-radius: var(--image-border-radius);
  display: block;
  margin: 10px auto;
}
