.Home {
  text-align: center;
}

.Home h1 {
  margin: 0;
  font-size: 35px;
}

.Home h2 {
  margin: 0;
}

.hero-image-container {
  background-image: url("./imgs/permanent/hero-image.jpg");
  background-size: cover;
  background-position: center;
  height: 500px;
  margin: 10px 200px;
  border-radius: 23px;
  transition: opacity 0.5s ease, transform 1s ease-in-out;
}

.hero-image-container:hover {
  background-image: url("./imgs/permanent/hero-img2.png");
  opacity: 0.7;
}

.button-overlay {
  position: absolute;
  top: 85%;
  left: 780px;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%; /* Ensures the button is centered in the image */
  height: 100%; /* Ensures the button is centered in the image */
  pointer-events: none;
  opacity: 0; /* Initially hide the button overlay */
}

.hero-image-container:hover .button-overlay {
  opacity: 1; /* Show the button overlay on hover */
}

.button-overlay button {
  pointer-events: auto; /* Makes the button interactive */
}

.start-journey-button {
  padding: 5px 35px 5px 35px;
  border-radius: 9px;
  font-family: "Jost", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  text-transform: uppercase;
  font-size: 20px;
  color: white;
  background-color: transparent;
  border: 2px solid white;
}

.journey-container {
  height: 200px;
  background-image: url("./imgs/icons/mobile-journey.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  margin-bottom: 20px;
}

.courage {
  background-color: #356d65;
}

.clarity {
  background-color: #b9ca9d;
}

.presence {
  background-color: #f8e0a4;
}

.journey-container img {
  width: 250px;
}

.mobile-home-container h3 {
  margin-top: 70px;
}

img.logo-mobile {
  height: 70px;
}

@media (max-width: 768px) {
  .hero-image-container {
    height: 370px;
    margin: 20px auto;
  }

  .start-journey-button {
    font-size: 20px;
    color: black;
    border: 2px solid black;
  }

  .hero-image-container:hover {
    background-image: url("./imgs/permanent/hero-image.jpg");
    opacity: 1;
  }
}
