.in-person-page {
  padding: 20px;
}

.details-icon {
  height: 20px;
  width: 20px;
  vertical-align: middle;
  display: inline-block;
  margin-right: 5px;
}

.event-slide {
  padding: 70px;
}

.details-span {
  display: inline-flex;
  align-items: center;
}

.event-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.image-gallery {
  display: grid;
  grid-template-columns: 2fr 1fr; /* Two columns: large image on the left, small images on the right */
  gap: 10px; /* Space between columns */
  width: 100%; /* Ensure grid takes full width of its container */
}

.large-image-container {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 15px; /* Optional: rounded corners */
  overflow: hidden;
}

.large-image {
  width: 100%;
  height: auto; /* Maintain aspect ratio */
}

.small-images-container {
  display: flex;
  flex-direction: column;
  gap: 10px; /* Space between images */
}

.small-image {
  border-radius: 15px; /* Optional: rounded corners */
  width: 100%;
  height: auto; /* Maintain aspect ratio */
  object-fit: cover; /* Ensure image covers its area */
}

.event-info-column {
  text-align: left;
  padding: 0px 20px;
}

.get-in-touch {
  padding: 10px;
  text-decoration: none;
  width: 100%;
  display: block;
  text-align: center;
  border-radius: 17px;
  font-family: "Jost", sans-serif;
  font-weight: 400;
  font-style: normal;
  text-transform: uppercase;
  font-size: 20px;
  color: black;
  background-color: transparent;
  border: 2px solid black;
  margin-top: 20px;
}

.get-in-touch:hover {
  color: white;
  background-color: #2b578e;
  border: 2px solid #2b578e;
}

/* Swiper Navigation Styles */
.event-swiper {
  position: relative;
}

.event-swiper-button-next,
.event-swiper-button-prev {
  color: black !important; /* Arrow color */
  width: 44px !important; /* Adjust size */
  height: 44px !important; /* Adjust size */
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10; /* Ensure the arrows are on top */
  position: absolute; /* Absolute positioning to place them correctly */
  top: 50%; /* Center vertically */
  transform: translateY(-50%); /* Center vertically */
  cursor: pointer; /* Pointer cursor to indicate clickable */
}

.event-swiper-button-next {
  right: 10px; /* Position for next arrow */
}

.event-swiper-button-prev {
  left: 10px; /* Position for prev arrow */
}

.event-swiper-button-next::after,
.event-swiper-button-prev::after {
  font-family: swiper-icons; /* Ensure correct font family */
  font-size: 20px !important; /* Adjust size */
  color: black !important; /* Arrow color */
}

.nav-arrow {
  height: 70px;
}

.event-swiper .swiper-pagination-bullet-active {
  background-color: #356d65; /* Active bullet color */
  opacity: 1;
}

@media (max-width: 768px) {
  .event-container {
    grid-template-columns: 1fr !important;
    width: 100% !important;
  }

  .slider-container {
    height: 220px;
    width: 300px;
  }
}
