.Qualifications h2 {
  margin-bottom: 0px;
  font-size: 30px;
  padding-left: 50px;
  text-align: left;
}

.Qualifications h1 {
  margin-left: 100px;
  margin-top: 0px;
  font-size: 48px;
  text-align: left;
}

.credentials-container {
  text-align: left;
  margin-left: 100px;
}

.credentials-container p {
  line-height: 30px;
}

.institution-icons-grid {
  display: grid;
  margin-left: 100px;
  width: 50%;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}
.institution-icons-grid img {
  height: 110px;
}

.qualification-button-container {
  margin-left: 30px;
  margin-top: 30px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: flex-start;
  gap: 30px;
}

.Qualifications .general-button {
  width: 100%;
}

.start {
  color: white;
  background-color: #cf7132;
  border: 2px solid #cf7132;
}

.start:hover {
  color: black;
  background-color: transparent;
  border: 2px solid black;
}

@media (max-width: 768px) {
  .heading-container {
    display: flex;
    justify-content: center;
  }

  .Qualifications h1 {
    font-size: 28px;
    margin: 0;
    padding: 5px;
  }

  .Qualifications h2 {
    font-size: 28px;
    margin: 0;
    padding: 5px;
  }

  .credentials-container {
    text-align: left;
    margin: 20px;
  }

  .credentials-container p {
    line-height: 26px;
  }

  .institution-icons-grid img {
    height: 100px;
  }
  .institution-icons-grid {
    display: grid;
    margin-left: 10px;
    width: 100%;
    grid-template-columns: 1fr 1fr 1fr;
  }

  .qualification-button-container {
    grid-template-columns: 1fr;
    margin-top: 30px;
  }
  .custom-spacer {
    display: block;
    margin: 30px auto;
  }
}
