.Retreats {
  padding: 20px;
}

.details-icon {
  height: 30px;
}

.slider-container {
  background-color: #2b578e;
  height: 392px;
  width: 543px;
  border-radius: 45px;
}

img {
  border-radius: 45px;
  object-fit: cover;
}

.retreat-image-column {
  border-radius: 45px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.retreat-info-column {
  text-align: left;
  padding: 0px 20px;
}

.get-in-touch {
  padding: 10px 10px;
  text-decoration: none;
  width: 182px;
  display: block;
  text-align: center;
  border-radius: 17px;
  font-family: "Jost", sans-serif;
  font-weight: 400;
  font-style: normal;
  text-transform: uppercase;
  font-size: 20px;
  color: black;
  background-color: transparent;
  border: 2px solid black;
}

.get-in-touch:hover {
  color: white;
  background-color: #2b578e;
  border: 2px solid #2b578e;
}
