.Work-Page {
  text-align: center;
  margin: 0px 30px 20px 150px;
}

.Work-Page h1 {
  margin-top: 0px;
}

.work-cards {
  margin: 0px 100px;
}

.card-links {
  text-decoration: none;
  color: black;
}
